@import "../../assets/styles/main.scss";

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  button {
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 0.25rem;
    padding: 0.685rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $purple;
    }
  }
}
