@import "../../assets/styles/main.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: $gray;
  color: $light-gray;

  .logo {
    width: 150px;
  }

  .searchInput,
  .userDetails {
    position: relative;
  }

  .searchInput {
    width: 40%;
    background-color: #393939;
    border-radius: 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
    cursor: pointer;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      outline: none;
      color: $light-gray;
    }

    .searchIcon {
      width: 20px;
      position: absolute;
      top: 0.4rem;
      right: 0.5rem;
    }
  }

  .userDetails {
    display: flex;
    align-items: center;

    .userIcon {
      width: 30px;
      height: 30px;
      line-height: 1.7rem;
      border-radius: 50%;
      background-color: #e05959;
      color: #fff;
      text-align: center;
      margin-right: 0.5rem;

      svg {
        width: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    .logo {
      width: 75px;
    }

    .welcomeMessage {
      display: none;
    }
  }
}
