.loading {
  text-align: center;

  .refreshIcon {
    width: 3.5rem;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
